<div class="main-container">
  <app-header></app-header>
  <div class="content">
    <div class="row mx-0">
      <div class="col-lg-3 col-md-4 col-12">
        <div class="card participant">
          <div class="card-header">
            <h1>Participantes ({{ participants.length }})</h1>
            <p-button
              [icon]="!addParticipant ? 'pi pi-plus' : 'pi pi-minus'"
              (click)="addParticipant = !addParticipant"
            ></p-button>
          </div>
          <div class="card-body">
            <div class="not-active" [ngClass]="{ active: addParticipant }">
              <div class="fiels-box p-3">
                <div class="add-participant">
                  <input
                    [disabled]="isPlayDisabled"
                    type="text"
                    class="name-input"
                    [ngClass]="{ error: showError && !participantName }"
                    pInputText
                    placeholder="Nome"
                    (keydown)="onKeydownOnAddParticipant($event)"
                    [(ngModel)]="participantName"/>
                  <button
                    [disabled]="isPlayDisabled"
                    (click)="addParticipants()"
                    pButton
                    label="Adicionar"
                    class="p-button-primary"
                  ></button>
                </div>
                <small class="text-danger" *ngIf="showError && !participantName.trim()">Necessário incluir o nome</small>
                <div class="numb-input">
                  <label>Tempo</label>
                  <input
                    [disabled]="isPlayDisabled"
                    type="number"
                    [ngClass]="{ error: !setShowTimerError()}"
                    pInputText
                    width="50px"
                    [(ngModel)]="participantTime"
                    (change)="onTimeChange()"/>
                  <div class="p-field-checkbox d-flex align-items-center">
                    <label for="ps" class="text-nowrap">Tocar sons</label>
                    <mat-slide-toggle
                      [(ngModel)]="playSound"
                      [checked]="playSound">
                    </mat-slide-toggle>
                  </div>
                  <button
                    (click)="randomizeParticipants()"
                    pButton
                    pRipple
                    icon="pi pi-sort-alt"
                    class="randomize-participants"
                    [disabled]="scrumStarted">
                  </button>
                  <button
                    (click)="hideParticipants()"
                    pButton
                    pRipple
                    [icon]="hideParticipantsNameIconButton"
                    class="hide-participants">
                  </button>
                </div>
                <small class="text-danger"
                       *ngIf="!setShowTimerError()">Min 30s(0.5) / Max 3m(3)</small>
              </div>
            </div>
            <div cdkDropList [ngClass]="{ active: addParticipant }" (cdkDropListDropped)="dropFunction($event)">
              <div
                class="example-box"
                *ngFor="let participant of participants; let i = index"
                cdkDrag
                [ngClass]="{
                  playing: participant.status == 'playing',
                  played: participant.status == 'played'
                }"
                [cdkDragDisabled]="scrumStarted"
              >
                <div
                  class="example-custom-placeholder"
                  *cdkDragPlaceholder
                ></div>
                <div *ngIf="shouldShowParticipantsNames; else hideParticipants">
                  {{ participant.name }}
                </div>
                <ng-template #hideParticipants>
                  ***********************
                </ng-template>
                <button
                  icon="pi pi-trash"
                  pButton
                  pRipple
                  class="p-button-danger p-button-sm"
                  [disabled]="participant.status != 'pending'"
                  (click)="deleteParticipant(i)"
                  style="padding: 5px 8px; width: unset"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-8 col-12">
        <div class="action-container">
          <div class="action-button">
            <button
              (click)="play()"
              [disabled]="isPlayDisabled"
              pButton
              pRipple
              label="Iniciar daily"
              icon="pi pi-play"
              class="p-button-primary"></button>
            <button
              (click)="pause()"
              [disabled]="!isPlayDisabled"
              pButton
              pRipple
              label="Pausar Daily"
              icon="pi pi-pause"
              class="p-button-danger"></button>
            <button
              (click)="reset()"
              pButton
              pRipple
              label="Reiniciar Daily"
              icon="pi pi-refresh"
              class="p-button-warning"></button>
          </div>
          <h6>
            Tempo total da daily: <span>{{ overallScrumTime | formatTime }}</span>
          </h6>
        </div>
        <div class="card participant current mt-2">
          <div class="card-header">
            <h1>Participante atual</h1>
            <p-button
              *ngIf="
                isPlayDisabled &&
                runningParticipantName &&
                runningParticipantName != 'Alinhamentos'
              "
              (click)="participantDone()"
              label="Próximo"
              icon="pi pi-check"
              class="next-participant-button"
            ></p-button>
            <p-button
              *ngIf="isPlayDisabled && runningParticipantName == 'Alinhamentos'"
              (click)="finish()"
              label="Finalizar daily"
              icon="pi pi-check-circle"
            ></p-button>
          </div>
          <div class="card-body">
            <div class="current-participant">
              <h6>{{ runningParticipantName }}</h6>
              <h6 *ngIf="runningParticipantName && runningParticipantName != 'Alinhamentos'" class="text-danger">
                {{ participantCounter | formatTime }}
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
