@import "../../template.scss";
@import "../../styles.scss";
.main-container {
    width: 100%;
    min-height: 100vh;
    background: $light-grey;
    .content {
        padding: 20px;
        @include for-responsive($screen-tab) {
            padding: 10px;
        }
        .participant {
            .card-header {
                @include row;
                @include align-center;
                @include justify-space-between;
                background: $dark-grey;
                h1 {
                    font-size: 18px;
                    font-weight: bold;
                    margin: 0;
                    font-family: $primary-font;
                    color: $white;
                }
                ::ng-deep .p-button {
                    padding: 5px 10px;
                    width: unset;
                    background: $green;
                    color: $dark-grey;
                }
            }
            .card-body {
                padding: 0;
                background: $dark-grey;
                .not-active {
                    overflow: hidden;
                    background: $dark-grey;
                    max-height: 0;
                    input {
                        padding: 7px 10px;
                        width: 100%;
                        font-family: $primary-font;
                        font-size: 13px;
                        margin-right: 10px;
                        color: $pink;
                    }
                    small {
                        font-family: $primary-font;
                        color: $pink;
                    }
                    .numb-input {
                        margin-top: 15px;
                        @include row;
                        @include align-center;
                        input {
                            width: 80px;
                            text-align: center;
                            margin-right: 20px;
                        }
                        label {
                            font-family: $primary-font;
                            font-size: 13px;
                            margin-left: 10px;
                            color: $pink;
                        }
                    }
                }
                .not-active.active {
                    max-height: 150px !important;
                }
            }
        }
        .participant.current {
            min-height: calc(100vh - 179px);
            .card-body {
                @include row;
                @include align-center;
                @include justify-center;
            }
            .card-header {
                ::ng-deep .p-button {
                    padding: 15px 25px;
                    font-size: 20px;
                    .pi {
                        font-size: 24px;
                    }
                }
            }
        }
        .action-container {
            @include row;
            @include align-center;
            @include justify-space-between;
            @include for-responsive($screen-tab) {
                @include column;
                @include align-start;
            }
            @include for-responsive($screen-mobile) {
                margin-top: 10px;
            }
            h6 {
                color: $purple !important;
                font-size: 16px;
                font-weight: bold;
                margin: 0;
                font-family: $primary-font;
                span {
                    font-size: 25px;
                }
                @include for-responsive($screen-tab) {
                    margin-top: 10px;
                }
            }
            .action-button {
                @include row;
                @include align-center;
                @include for-responsive($screen-mobile) {
                    @include wrap;
                }
                ::ng-deep .p-button {
                    padding: 10px;
                    margin-right: 10px;
                    width: unset;
                    color: $dark-grey;
                    font-family: $primary-font;
                    font-size: 14px;
                    color: $dark-grey;
                    @include for-responsive($screen-mobile) {
                        margin-top: 10px;
                    }
                }
            }
        }
        .current-participant {
            padding: 20px;
            h6 {
                color: $purple;
                font-size: 100px;
                font-weight: bold;
                text-align: center;
                padding: 20px;
                margin: 0;
                font-family: $primary-font;
                text-transform: uppercase;
                line-height: 35px;
                @include for-responsive($screen-tab) {
                    font-size: 25px;
                }
                &:last-child {
                    font-size: 100px;
                    margin-top: 20px;
                    @include for-responsive($screen-tab) {
                        font-size: 40px;
                    }
                }
            }
        }
    }
}

::ng-deep .example-box {
    padding: 10px;
    color: $dark-grey;
    background: $purple;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: move;
    font-size: 14px;
    font-family: $primary-font;
    font-weight: 600;
    text-transform: uppercase;
}

::ng-deep .cdk-drag-placeholder {
    opacity: 0;
}

::ng-deep .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

::-webkit-scrollbar-thumb {
    background: $dark-grey;
}

::-webkit-scrollbar-thumb:hover {
    background: $dark-grey;
}

.error {
    border: 1px solid $red;
}

.playing {
    background: $pink !important;
}

.played {
    background: $purple !important;
}

.p-button:disabled {
    background-color: #a5a5a5 !important;
    color: $dark-grey !important;
}

.p-button {
    &-primary {
        background-color: $green;
        min-width: 100px;
        color: $dark-grey;
    }

    &-danger {
        background-color: $red;
    }

    &-warning {
        background-color: $yellow;
    }
}

.card {
    border: 0px;
}

.add-participant {
    display: flex;
    min-width: 0;
    color: $pink;
}

.p-inputtext {
    background-color: $light-grey;
}

.randomize-participants {
    background-color: $green;
    margin-left: auto;
    margin-right: 0px;

    &.p-button {
        color: black;
    }
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: $purple;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: $green;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: $pink;
}
:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $pink;
}
::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $pink;
}
:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: $pink;
}
